{{ define "content" }}
<div class="row mb-3">
    <div class="col-12">
        <h2> Upload User Avatar</h2>
    </div>
</div>

{{ if .Error }}
<div class="row">
    <div class="col-12">
        {{ range .Error }}
        <div class="alert alert-danger" role="alert">
            {{ .Error }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

<div class="row">
    <div class="col-12">
        <form action="/users/avatar/{{ .Id }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="file" class="form-control" id="avatar" name="avatar">
            </div>
            
            <button type="submit" class="btn btn-primary">Upload Now</button>
          </form>
    </div>
</div>
{{ end }}
